
  .no-download .toolbarButton-download {
    display: none !important;
  }
  
  .no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
